a{
    font-family: cursive;
    font-weight: 400;
    color: rgba(91, 255, 214, 0.411);
}

li{
    color: black;
    font-weight: 200;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}









